.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.messages_items{
    padding: 10px;
}
.messages_items .active{
    color: gold;
}
.messages{
    padding: 10px;
}
.message{
    
}
.item{

}